{% load static %}

<!DOCTYPE HTML>

<html>
	<head>
		<link rel="apple-touch-icon" sizes="180x180" href="/static/home/images/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/static/home/images/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/static/home/images/favicon-16x16.png">
		<link rel="manifest" href="/static/home/images/site.webmanifest">
		<title>sportsmodels.org | Home</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'home/css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'home/css/noscript.css' %}" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Sidebar -->
			<section id="sidebar">
				<div class="inner">
					<nav>
						<ul>
							<li><a href="#intro">Welcome</a></li>
							<li><a href="#one">Models</a></li>
							<li><a href="#two">Contact Us</a></li>
						</ul>
					</nav>
				</div>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Intro -->
					<section id="intro" class="wrapper style1 fullscreen fade-up">
						<div class="inner">
							<h1>sportsmodels.org</h1>
							<p>Combining machine learning and predictive analytics to guide your fantasy and sports betting decisions.
							</p>
							<ul class="actions">
								<li><a href="#one" class="button scrolly">learn more</a></li>
							</ul>
						</div>
					</section>
				<!-- One -->
					<section id="one" class="wrapper style3 fade-up">
						<div class="inner">
							<h2>Models</h2>
							<p>To many, "machine learning" is a black box, but it is consistently used by many odds makers and professional handicappers to generate predictions which guide their lines and decisions. We provide the average sports bettor and fantasy player with transparent tools and information.</p>
							<div class="features">
								<section>
									<span class="icon solid major fa-hockey-puck"></span>
									<h3>NHL</h3>
									<p>Daily offensive output predictions for every NHL skater.</p>
									<ul class="actions">
										<a href="{% url 'nhl:index' %}" class="button">Model</a>
									</ul>
								</section>
								<section>
									<span class="icon solid major fa-golf-ball"></span>
									<h3>PGA</h3>
									<p>Tournament by tournament final standings predictions.</p>
										<ul class="actions">
											<li><a href="{% url 'pga:index' %}" class="button">Model</a></li>
										</ul>
								</section>
								<section>
									<span class="icon solid major fa-baseball-ball"></span>
									<h3>MLB</h3>
									<p>Daily predictions for MLB hitters and pitchers (coming soon).</p>
									<ul class="actions">
										<li><a href="{% url 'mlb:index' %}" class="button">Model</a></li>
									</ul>
								</section>
								<section>
									<span class="icon solid major fa-basketball-ball"></span>
									<h3>March Madness</h3>
									<p>Machine Learning generated March Madness Bracket (coming soon).</p>
									<ul class="actions">
										<li><a href="{% url 'mlb:index' %}" class="button">Model</a></li>
									</ul>
								</section>
							</div>
						</div>
					</section>

				<!-- Two -->
					<section id="two" class="wrapper style1 fade-up">
						<div class="inner">
							<h2>Contact Us</h2>
							<p>If you have questions, complaints, suggestions, or ideas on different models you would like to see. Feel free to email or submit a short message below.</p>
							<div class="split style1">
								<section>
									<form method="post" action="#">
										<div class="fields">
											<div class="field half">
												<label for="name">Name</label>
												<input type="text" name="name" id="name" />
											</div>
											<div class="field half">
												<label for="email">Email</label>
												<input type="text" name="email" id="email" />
											</div>
											<div class="field">
												<label for="message">Message</label>
												<textarea name="message" id="message" rows="5"></textarea>
											</div>
										</div>
										<ul class="actions">
											<li><a href="" class="button submit">Send Message</a></li>
										</ul>
									</form>
								</section>
								<section>
									<ul class="contact">
										<li>
											<h3>Email</h3>
											<a href="#">sportsmodels@gmail.com</a>
										</li>
										<!-- <li>
											<h3>Phone</h3>
											<span>(000) 000-0000</span>
										</li> -->
										<li>
											<h3>Social</h3>
											<ul class="icons">
												<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
												<!-- <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
												<li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
												<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
												<li><a href="#" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li> -->
											</ul>
										</li>
									</ul>
								</section>
							</div>
						</div>
					</section>

			</div>

		<!-- Footer -->
			<footer id="footer" class="wrapper style1-alt">
				<div class="inner">
					<ul class="menu">
						<li>&copy; Untitled. All rights reserved.</li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="{% static 'home/js/jquery.min.js' %}"></script>
			<script src="{% static 'home/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'home/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'home/js/browser.min.js' %}"></script>
			<script src="{% static 'home/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'home/js/util.js' %}"></script>
			<script src="{% static 'home/js/main.js' %}"></script>

	</body>
</html>